# =========================
# Compiled binaries
# =========================
*.exe
*.out
*.app
*.o
*.obj

# Your compiled app
dna_app

# =========================
# Build folders (if added later)
# =========================
build/
bin/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Windows system files
# =========================
Thumbs.db
Desktop.ini

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# Backup files
# =========================
*.bak
*~

# =========================
# Mac (if teammate uses Mac)
# =========================
.DS_Store